@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./styles/abstracts/_variables";
@import "./styles/base/_typography";
@import "./styles/base/_reset";
@import "./styles/vendors/_bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.createTask {
  position: absolute !important;
  right: 20px;
  bottom: 0;
  background-color: #2a2b2d;
  border: 1px solid #424244;
  border-radius: 4px;
  width: 500px;
  height: 500px;
}
